body {
    background-color:black;
    margin: 0;
    margin-bottom: 10;
    text-align: center;
}

h1
{
    padding: 12px;
    margin: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
    background-color:black;
    color: white;
}
div
{
    padding: 12px;
    margin: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
    background-color:black;
    color: white; 
}
p
{
    padding: 12px;
    margin: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
    background-color:black;
    color: white;
}
h6
{
    padding: 12px;
    margin: 0;
    font-family: 'Sawarabi Gothic', sans-serif;
    background-color:black;
    color: white;
}
img
{
    padding: 15px;
}
